@keyframes slideInFromLeft {
  0% {
    opacity: 100;
    transform: translateX(0%);
  }
  99% {
    opacity: 0;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

h1 {
  color: black;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.6rem;
  word-wrap: break-word; /* Ensure long words wrap to the next line */
  overflow-wrap: break-word;
  margin: 0.5rem;
  letter-spacing: -1px;
}

h2 {
  color: black;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  word-wrap: break-word; /* Ensure long words wrap to the next line */
  overflow-wrap: break-word;
  margin: 0.5rem;
  margin-bottom: 3.5rem;
}

a {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
}

body {
  background-color: #FCB505;
  margin: 0px;
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCB505;
  flex-wrap: nowrap;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  padding-left: 0px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  margin: 0px;
  font-family: "Outfit", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  /* display: inline; */
  background-color: #FCB505;
  padding: 10px;
  margin: 10px;
  line-height: 280%;
}

nav li a {
  margin-left: 5rem;
  text-decoration: none;
  color: black;
} 

.hidden {
  display: none;
  background-color: #FCB505 !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(0, 0, 0, 0.08) !important; /* Box shadow */
}

.logo {
  max-height: 7rem;
  width: 13rem;
}

.block-container{
  padding: 3rem;
  display: grid;
  grid-template-columns: 27.27% 27.27% 27.27%;
  grid-auto-rows: 20rem;
  grid-column-gap: 9.09%;
  grid-row-gap:3rem
}

.div-link{
  text-decoration: none; /* Remove underline from links */
  display: block;
}

.red {
  background-color: #D20034;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.orange {
  background-color: #DE4604;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.green {
  background-color: #4D9D46;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.blue {
  background-color: #0499AB;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.block{
  display: grid;
  padding: 1rem;
  color: white;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 0px 3px rgba(0, 0, 0, 0.5); /* Box shadow */
  font-size: 1rem;
  transition: background-color 0.3s;
}

.custom-button {
  position: relative;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px; /* Adjust for desired roundness */
  width: 90%;
  max-width: 30rem;
  cursor: pointer;
  outline: none;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
  transition: all 0.3s;
}

.custom-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  border-bottom: 3.5px solid black;
  border-radius: 0 0 20px 20px; /* Same as button border-radius */
  pointer-events: none; /* Ensure pseudo-element doesn't affect button interaction */
}

.custom-button:hover {
  /* transform: translateY(-0.5rem); */
  background-color: #DE4604;
  color: white;
}

@media (max-width: 38rem) {
  header {
    flex-direction: column; /* Stack logo and nav vertically */
    align-items: center; /* Align items to the start */
  }

  .logo {
    width: 5rem;
    align-items: center;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  nav {
    width: 100%; /* Take full width */
    justify-content: center; /* Center the nav items */
    padding: 0;
  }

  ul {
    flex-direction: column; /* Stack links vertically */
    width: 100%; /* Ensure links take full width */
    align-items: center; /* Center align the links */
    margin: 0;
  }

  nav li {
    margin: 0 0; /* Adjust margins for better spacing */
    width: 100%; /* Ensure each link takes full width */
    text-align: center; /* Center text */
    padding: 0;
  }

  nav li a {
    margin: 1rem;
    text-decoration: none;
    color: rgb(48, 48, 48);
  } 

  a {
    font-size: 1rem;
  }

  .text a {
    font-size: 1.5rem;
  }

  .block-container{
    padding: 1rem;
    display: grid;
    grid-template-columns: 40% 40% ;
    grid-auto-rows: 20rem;
    grid-column-gap: 20%;
    grid-row-gap:3rem
  }

}

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#FCB505;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s ease-out;
  z-index: 9999;
  pointer-events: none; /* Allow clicks to pass through the overlay */
  animation: 0.7s ease-out 0s 1 slideInFromLeft;
}

.transition-overlay.active {
  transform: scaleY(1);
}

.text {
  justify-content: center;
  padding: 1em;
  display: flex; /* Use flexbox to align children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center align children horizontally */
  text-align: left; /* Ensure text aligns to the left */
}
.text pre{
  font-weight: 400;
  font-size: 1.3rem;
  max-width: 60ch;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap; /* Preserve whitespace and line breaks, but wrap text */
  word-wrap: break-word;
  letter-spacing: 0.5px;
}

.text img {
  align-self: center; /* Center image horizontally within the flex container */
  max-width: 90%;
  margin-bottom: 1em; /* Space between the image and the text */
}
.date {
  font-weight: 400;
  font-size: 0.9rem; 
  letter-spacing: 0.2rem;
}

.bottom-bar{
  background-color: #0499AB;
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem 3rem;
}

.bottom-bar li a {
  margin-left: 5rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
} 

.bottom-bar div{
  display: flex;
  align-items: center;
  color:rgb(0, 0, 0)
}